<div class="row center ">

  <div class="center">
    <h1>WAITERS SHIFTS </h1>

    <span class="clearWaiters center col-3" id="errorMsg"> {{messages.clear}}{{userName}}
    </span>



    {{!-- <hr class="my-4"> --}}

    <div>
      {{!-- {{#each   list}}
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start ">
          <div class="d-flex w-100 justify-content-between">
            <h4 class="mb-3">{{this.days_bookings}}</h4>
            <small>WAITERS LIST</small>
          </div>
          <p class="mb-1">	{{#each waiters}}
					<li>{{this.names}}</li>

					{{/each}}
          </p>
         
</a>
   {{/each}}  --}}

      <div class="row">
        <table class=" table table-bordered text-light">
          <thead>

            <tr scope="col-3">


              {{#each list}}


              <th style="background-color: {{this.color}};">

                {{this.days_bookings}}


                {{/each}}
              </th>


            </tr>

          </thead>
          <tbody>
            <tr>

              {{#each list}}

              <td scope="col">

                {{!-- names only --}}
                {{#each waiters}}

                 <ul class="text-left"> -
                <li>{{this.names}}</li>
                 </ul>
                {{/each}}

              </td>

              {{/each}}

            </tr>

          </tbody>

        </table>








      </div>
      <div>
        {{!-- <div class="d-inline p-2 bg-white text-dark">1 working</div>
        <div class="d-inline p-2 bg-primary text-white">2 working</div>
        <div class="d-inline p-2 bg-secondary text-white">3 working</div>
        <div class="d-inline p-2 bg-info text-white">4 working</div> --}}


        <div class="d-inline p-2 bg-warning text-white">more waiters required</div>
        <div class="d-inline p-2 bg-success text-white"> enough waiters added</div>
        <div class="d-inline p-2 bg-danger text-white">over subscribed</div>


      </div>


    </div>





  </div>
</div>
<button class='back' type="button" name="link"><a href="/">Back</a></button>
  <a href="/reset"> <button class="clearBtn" type="submit" name="button">clear Btn</button> </a>

 <script>


    setTimeout(function () {

        document.querySelector(".clearWaiters").innerHTML = "";
       

    }, 3000);

</script> 