<header class="jumbotronf big-bannner">

	{{!-- style="background-image: url('./home/downloads/self-serve-coffee-shop.jpg'); --}}

</header>

<div class="container">

	<div class="row">


		<div class="form-check center">
			<h1 class="" aligh="center ">Waiters preferred days selection</h1>

			{{!-- {{#each allNames}} --}}
			<form action="/waiters/{{userName}}" method="POST">

				<div class="form-group">
	
				</div>
				{{!-- {{/each}} --}}

				<div>

					{{#each weekDays}}
					<input type="checkbox" name="days" value="{{this.id}}" class="form-check right" {{this.state}}
						aria-label="Checkbox for following text input">

					<span> {{days_bookings}} </span>

					{{/each}}

					<h2><span class="regy center col-3" id="errorMsg"> {{messages.regexMes}}
						</span></h2>


				</div>

		</div>

		<div class="form-group center ">
			<button class="btn btn-primary">Make Booking</button>

<button class="index center"><a href="/">Take me home</a></button>
		</div>
		</form>


	</div>

</div>
<script>

	setTimeout(function () {

		document.querySelector(".regy").innerHTML = "";

	}, 5000);

</script>